# Ignore combined test files
/output/temp_tests/*
# Ignore model evaluation checkpoints and individual results text files
/output/model_evaluations/**/checkpoints/*
/output/model_evaluations/**/*.txt

# Ignore temporary, log, virtual environment files
temp*
.venvs/
logs/

__pycache__/*